@media only screen and (max-width: 576px) and (min-width: 300px)  {
   section,main,footer{
    padding-left: 1rem;
    padding-right: 1rem;
   }

   .features .card-heading{
    font-size: 1rem;

   }

  

   .section-4{
    background-image: none;
   }

   .trusted-by{
    text-align: center;
}

video.fullscreen{
    height: 30vh !important;
}

.overlay{
    height: 30vh !important;
}

.demo-box{
    margin: 5rem 0;
}
   
    .navbar-brand{
        width: 100px;
    }

    nav .btn{
        width: 80px;
        font-size: .4rem;
        padding: .3rem;
    }

    h1{
        font-size: 1.5rem;
    }

    .section-main{
        padding-top: 5rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .section-demo{
        padding-top: 0rem;
        padding-bottom: 0;
    }

    .main-features{
        padding: 0;
    }

    .main-features li{
        font-size: .8rem;
    }

    .section-demo-box{
        padding: 0 !important;
    }

    p{
        font-size: .9rem;
    }

    h2{
        font-size: 1.3rem;
    }

    .training-subheading{
        font-size: 1.7rem;
    }

    .trusted-by{
        font-size: .8rem;
        margin-bottom: 1rem;
    }

    .main-logos{
        justify-content: center;
    }

    .main-logos img{
        width: 100px;
    }

    .form_data{
        margin-top: 3rem;
    }

    .employees-view-box{
        margin-top: 0 !important;
        padding-top: 0rem !important;
    }

   .demo-text{
    margin-bottom: 1.3rem;
   }

    h3{
        font-size: 1.2rem;
    }

    .employees-view .btn{
        margin: 1rem 0 !important;
    }

    .employee-l{
        padding: 0 !important;
    }

    .employees-view-box{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .training-heading{
        font-size: 1rem;
    }

    .training-box .btn{
        margin-top: 0 !important;
        margin-bottom: 2rem;
    }

    .training-lead{
        margin-bottom: 1rem;
    }

    .section-4{
        margin: 4rem 0;
        padding: 0;
    }

    .features{
        margin-top: 0;
        padding: 0;
    }

    

    .feature-card-ul{
        padding-left: 0;
    }

    .feature-card-ul li{
        font-size: .7rem;
    }

    .feature-card-ul li img{
        width: 20px;
    }

    .mb-sm-rmv{
        margin-bottom: 0 !important;
    }

    .features{
        margin-bottom: 0;
    }

    .section-7{
        margin: 4rem 0;
    }

    .building-trust{
        text-align: center;
    }

    .email-lead{
        font-size: .8rem;
        margin-bottom: 1rem !important;
    }

    .box_email{
        width: 230px;
       }

       .email-heading-btn{
        width: 100px !important;
        padding: .3rem .5rem !important;
        font-size: .7rem;
        
       }

    .building-trust{
        padding: 1rem;
    }

   .emails{
    margin: 4rem 0;
    padding: 0;
   }

   .box_email{
    padding: 1rem;
   }

    h4{
        font-size: .6rem;
    }

  

  }

  @media only screen and (max-width: 577px)  {
    .navbar-brand{
        width: 150px;
    }

    nav .btn{
        width: 100px;
        font-size: .8rem;
        padding: .3rem;
    }
  }

  

/*  Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 800px) and (min-width: 576px)  {
  nav{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .form_data{
    margin-top: 3rem;
}
  
.section-main{
    padding-bottom: 0;
}

.section-demo{
    padding-bottom: 0;
}

.employees-view-box{
    margin: 2rem 0 !important;
}

.employees-view-box{
    padding: 2rem 0 !important;
}

.employees-view .btn{
    margin: 2rem 0 !important;
}

.section-4{
    margin-top: 0;
    padding-top: 0;
}


.training-box .btn{
    margin-top: 0 !important;
    margin-bottom: 2rem;
}

.section-4{
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.features{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.feature-card-ul{
    padding-left: 0;
}

.section-7{
    margin: 5rem 0;
}

.emails{
    margin: 5rem 0;
}

.email-heading{
    font-size: 1rem;
}

.box_email{
    padding-left: 1rem;
}


}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 567px) {
   

}

/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .email-lead{
        font-size: 1.5rem;
    }
 }

 @media only screen and (min-width: 992px) {
.email-lead{
    font-size: 2rem;
}

.email-heading{
    font-size: 1rem;
}
 }